@media( min-width:1024px ){
   
}
/* @media( min-width:740px) and ( max-width:1024px){
    #nav > li{
        display:block ;
    }
    #header .seach-btn{
        display: none;
    }
} */
@media (max-width: 740px) {
  .s-col-full{
    width: 100%;   
  }
    #nav{
      display: block;
    }
    #nav .subnav{
      position: initial;
      background: #333;
    }
    #nav .subnav a{
      color: #fff;
      padding: 5px 41px;
    }
    #nav li a{
     display: block;
    }
    #nav > li  {
      display: block;
      padding: 1px 0px;
    }
    #nav > li:first-child{
      display: inline-block;
    }
    #header{
       overflow: hidden;
    }
    #header .mobile-menu-btn{
      display: block;
    }
    #header .seach-btn {
      display: none;
    }
    
    #content .member-img{
      width: 60%;
    }
    
  }
  
