@media( min-width:1024px ){
   
}
@media( min-width:740px) and ( max-width:1024px){
    #nav > li{
        display:block ;
    }
    #header .seach-btn{
        display: none;
    }
}
@media (max-width: 740px) {
    #nav > li {
      display: block;
    }
  
    #header .seach-btn {
      display: none;
    }
  }
  
