*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main,.subnav{
    list-style-type: none;
}

#header{
    height: 46px;
    background-color: black;
}
#nav{

}

#nav > li{
    display: inline-block;
}
#nav  li{
    
    position: relative;
}
#nav >li> a{
    color:aliceblue;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover >a,
#nav .subnav li:hover {
    color:#000;
    background-color: #ccc ;
}
#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left:0px;
    min-width: 160px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

#nav .subnav a{
    color:#000;
    padding: 0px 12px;
    line-height: 38px;

    
}

#slider{

}

#content{

}

#footer{

}
